html,
body {
  height: 100%;
  margin: 0;
}

.dashboard-layout {
  display: flex;
  height: 100vh;
  background: #f4f4f4;
  overflow: hidden;
}

.dashboard-main {
  flex: 1;
  display: block;
  overflow: hidden;

  margin: 10px 10px 0px 10px;
}

.dashboard-content {
  flex: 1;
  padding: 16px;
  overflow-x: hidden;
  overflow-y: auto;
}


@media (min-width: 768px) {
    .dashboard-content{
        padding: 24px;
    }
}
