.cari {
  border: 1px blueviolet solid;
  border-radius: 20px;
  width: 400px;
  height: 35px;
  margin-top: 10px;
  margin-bottom: 50px;
}

input {
  padding-left: 15px;
}
input::placeholder {
  font-size: 14px;
}

@media (max-width: 425px) {
  .cari {
    width: 100%;
    max-width: 250px;
    justify-content: center;
    height: 30px;
  }
}
